<a href="https://colab.research.google.com/github/PranavShashidhara/Country-Default-Prediction/blob/main/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.10/dist-packages (0.12.4)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from imbalanced-learn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from imbalanced-learn) (1.13.1)
Requirement already satisfied: scikit-learn>=1.0.2 in /usr/local/lib/python3.10/dist-packages (from imbalanced-learn) (1.5.2)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from imbalanced-learn) (3.5.0)

In [2]:
import pandas as pd
data_df = pd.read_csv('WORLD_BANK_GDP_DEBT_DATA.csv')

In [3]:
defaulted_countries = pd.read_csv('Debt_failed_countries.csv')

In [4]:
data_df.head()

,Unnamed: 0,Country,Year,CURRENT_GDP_USD,GDP_GROWTH_PCT,ANUAL_INFLATION_PCT,TOT_EXT_DEBT_USD,TOT_GOVT_DEBT_LCU,LONG_EXT_DEBT_USD,PUBLIC_OWNED_DEBT_USD,...,EXPORTS,IMPORTS,TAX_REVENUE_PCT_GDP,UNEMPLOYMENT_RATE,POP_GROWTH_RATE,DEBT_TO_GDP,TRADE_BALANCE,TRADE_BAL_PCT_GDP,INFLATION_RATE_IN_PCT,REAL_GDP_GROWTH
0,0,Zimbabwe,1960,1.052990e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Zambia,1960,7.130000e+08,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"Yemen, Rep.",1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,West Bank and Gaza,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Virgin Islands (U.S.),1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
len(data_df['Country'].unique().tolist())

266

In [6]:
import requests
import json
url = "https://api.worldbank.org/v2/country?format=json&per_page=300"
response = requests.get(url)
if response.status_code == 200:
  data = response.json()
  world_bank_countries = pd.DataFrame(pd.json_normalize(data[1]))
else:
  print("Failed to make a connection", response.status_code)
world_bank_countries

,id,iso2Code,name,capitalCity,longitude,latitude,region.id,region.iso2code,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
0,ABW,AW,Aruba,Oranjestad,-70.0167,12.5167,LCN,ZJ,Latin America & Caribbean,,,,HIC,XD,High income,LNX,XX,Not classified
1,AFE,ZH,Africa Eastern and Southern,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
2,AFG,AF,Afghanistan,Kabul,69.1761,34.5228,SAS,8S,South Asia,SAS,8S,South Asia,LIC,XM,Low income,IDX,XI,IDA
3,AFR,A9,Africa,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
4,AFW,ZI,Africa Western and Central,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
292,YEM,YE,"Yemen, Rep.",Sana'a,44.2075,15.352,MEA,ZQ,Middle East & North Africa,MNA,XQ,Middle East & North Africa (excluding high inc...,LIC,XM,Low income,IDX,XI,IDA
293,ZAF,ZA,South Africa,Pretoria,28.1871,-25.746,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),UMC,XT,Upper middle income,IBD,XF,IBRD
294,ZMB,ZM,Zambia,Lusaka,28.2937,-15.3982,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDX,XI,IDA
295,ZWE,ZW,Zimbabwe,Harare,31.0672,-17.8312,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend

In [7]:
data_df['Country']

0                              Zimbabwe
1                                Zambia
2                           Yemen, Rep.
3                    West Bank and Gaza
4                 Virgin Islands (U.S.)
                      ...
17019    Central Europe and the Baltics
17020            Caribbean small states
17021                        Arab World
17022        Africa Western and Central
17023       Africa Eastern and Southern
Name: Country, Length: 17024, dtype: object

In [8]:
import pandas as pd
import numpy as np

date_range = pd.date_range(start="2002-01-01", end="2100-01-01", freq="D")
time_dimension_df = pd.DataFrame(date_range, columns=["FullDate"])

time_dimension_df['DateKey'] = time_dimension_df["FullDate"].dt.strftime("%Y%m%d").astype(int)
time_dimension_df['Year'] = time_dimension_df['FullDate'].dt.year
time_dimension_df['Quarter'] = time_dimension_df['FullDate'].dt.quarter
time_dimension_df['Month'] = time_dimension_df['FullDate'].dt.month
time_dimension_df['Day'] = time_dimension_df['FullDate'].dt.day
time_dimension_df['DayOfWeek'] = time_dimension_df['FullDate'].dt.dayofweek + 1
time_dimension_df['WeekOfYear'] = time_dimension_df['FullDate'].dt.isocalendar().week
time_dimension_df['IsWeekend'] = time_dimension_df['DayOfWeek'].isin([6,7])

time_dimension_df['MonthName'] = time_dimension_df['FullDate'].dt.strftime("%B")
time_dimension_df['QuarterName'] = "Q" + time_dimension_df['Quarter'].astype(str)
time_dimension_df['DayName'] = time_dimension_df['FullDate'].dt.strftime('%A')
time_dimension_df

,FullDate,DateKey,Year,Quarter,Month,Day,DayOfWeek,WeekOfYear,IsWeekend,MonthName,QuarterName,DayName
0,2002-01-01,20020101,2002,1,1,1,2,1,False,January,Q1,Tuesday
1,2002-01-02,20020102,2002,1,1,2,3,1,False,January,Q1,Wednesday
2,2002-01-03,20020103,2002,1,1,3,4,1,False,January,Q1,Thursday
3,2002-01-04,20020104,2002,1,1,4,5,1,False,January,Q1,Friday
4,2002-01-05,20020105,2002,1,1,5,6,1,True,January,Q1,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...
35790,2099-12-28,20991228,2099,4,12,28,1,53,False,December,Q4,Monday
35791,2099-12-29,20991229,2099,4,12,29,2,53,False,December,Q4,Tuesday
35792,2099-12-30,20991230,2099,4,12,30,3,53,False,December,Q4,Wednesday
35793,2099-12-31,20991231,2099,4,12,31,4,53,False,December,Q4,Thursday
35794,2100-01-01,21000101,2100,1,1,1,5,53,False,January,Q1,Friday

In [9]:
#%pip install wbgapi

In [10]:
'''
import wbgapi as wb
df = wb.data.DataFrame("IC.BUS.EASE.XQ")
df.notnull()'''

'\nimport wbgapi as wb\ndf = wb.data.DataFrame("IC.BUS.EASE.XQ")\ndf.notnull()'

In [11]:
def default_indicator(row):
    if row['DEBT_TO_GDP'] > 100 and row['ANNUAL_INFLATION_PCT'] > 10:
        return 1
    elif row['TOT_EXT_DEBT_USD'] > row['EXPORTS'] * 5:
        return 1
    return 0

# Apply the function to each row of the dataframe
data_df['DEBT_TO_GDP'] = data_df['DEBT_TO_GDP'].fillna(0)
data_df['ANNUAL_INFLATION_PCT'] = data_df['ANUAL_INFLATION_PCT'].fillna(0)
data_df['DEFAULT'] = data_df.apply(default_indicator, axis=1)
data_df.fillna(0, inplace=True)

data_df[data_df['DEFAULT']==1].sort_values('Country').groupby(['Country', 'Year']).head()

,Unnamed: 0,Country,Year,CURRENT_GDP_USD,GDP_GROWTH_PCT,ANUAL_INFLATION_PCT,TOT_EXT_DEBT_USD,TOT_GOVT_DEBT_LCU,LONG_EXT_DEBT_USD,PUBLIC_OWNED_DEBT_USD,...,TAX_REVENUE_PCT_GDP,UNEMPLOYMENT_RATE,POP_GROWTH_RATE,DEBT_TO_GDP,TRADE_BALANCE,TRADE_BAL_PCT_GDP,INFLATION_RATE_IN_PCT,REAL_GDP_GROWTH,ANNUAL_INFLATION_PCT,DEFAULT
8727,8727,Albania,1992,6.521750e+08,-7.187111,16.673716,6.326218e+08,0.000000e+00,1.268538e+08,1.268538e+08,...,0.000000,30.007,-0.606435,0.970018,-5.464332e+08,-83.786289,226.005421,-233.192532,16.673716,1
8461,8461,Albania,1991,1.099559e+09,-28.002142,5.114552,5.114858e+08,0.000000e+00,8.620013e+07,8.620013e+07,...,0.000000,10.304,-0.602810,0.465174,-2.320167e+08,-21.100883,0.000000,0.000000,5.114552,1
10583,10583,Argentina,1999,2.835230e+11,-3.385457,0.000000,1.519138e+11,0.000000e+00,1.175837e+11,9.026421e+10,...,0.000000,14.050,1.152044,0.535808,-4.900400e+09,-1.728396,0.000000,0.000000,0.000000,1
6593,6593,Argentina,1984,1.129886e+11,1.570739,0.000000,4.906081e+10,0.000000e+00,3.724414e+10,2.690414e+10,...,0.000000,0.000,1.537153,0.434210,3.201429e+09,2.833409,0.000000,0.000000,0.000000,1
7923,7923,Argentina,1989,7.662966e+10,-7.156950,0.000000,6.553841e+10,0.000000e+00,5.391388e+10,5.211388e+10,...,0.000000,0.000,1.487655,0.855262,4.964851e+09,6.479020,0.000000,0.000000,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9311,9311,Zambia,1995,3.806983e+09,2.897669,6.730886,6.957808e+09,5.108200e+09,5.304218e+09,5.290764e+09,...,15.689500,16.825,2.446966,1.827643,-1.303786e+08,-3.424721,34.929587,-32.031919,6.730886,1
10641,10641,Zambia,2000,3.600632e+09,3.897323,23.828288,5.811480e+09,0.000000e+00,4.508222e+09,4.443650e+09,...,0.000000,12.930,2.766606,1.614017,-4.515102e+08,-12.539747,26.030412,-22.133089,23.828288,1
10907,10907,Zambia,2001,4.094441e+09,5.316868,28.926060,6.189777e+09,0.000000e+00,4.980703e+09,4.826636e+09,...,16.540704,13.410,2.996056,1.511751,-5.916011e+08,-14.448885,21.393782,-16.076914,28.926060,1
10375,10375,Zambia,1999,3.404285e+09,4.650190,18.906776,5.953050e+09,0.000000e+00,4.578199e+09,4.505436e+09,...,16.954308,12.496,2.620055,1.748693,-3.299806e+08,-9.693095,26.787697,-22.137507,18.906776,1
9045,9045,Zambia,1994,3.656806e+09,-8.625442,4.988443,6.808521e+09,3.652300e+09,5.193917e+09,5.180463e+09,...,17.236518,18.645,2.428276,1.861876,-2.741888e+07,-0.749804,54.601322,-63.226764,4.988443,1

In [12]:
def expand_years(country, year_range):
    year_range = year_range.replace("–", "-")
    if "-" in year_range:
        start, end = year_range.split("-")
        start = int(start)
        end = int(end[:-1] + "9") if "s" in end else int(end)
    else:
        start = end = int(year_range)
    return [(country, year) for year in range(start, end + 1)]

expanded_data = []
for row in defaulted_countries.itertuples(index=False):
    country = row.Country
    year_range = row.Date
    expanded_data.extend(expand_years(country, year_range))

expanded_default = pd.DataFrame(expanded_data, columns=['Country', 'Year'])

defaulted_countries=expanded_default

In [13]:
defaulted_countries['Country'] = defaulted_countries['Country'].str.split('\xa0', expand=True)[1]
default=defaulted_countries[defaulted_countries['Year']>=1960]
data_df.loc[:, 'Year'] = data_df['Year'].astype(int)
defaulted_countries.loc[:, 'Year'] = defaulted_countries['Year'].astype(int)

In [14]:
data_df[data_df['Country'] == 'Algeria']

,Unnamed: 0,Country,Year,CURRENT_GDP_USD,GDP_GROWTH_PCT,ANUAL_INFLATION_PCT,TOT_EXT_DEBT_USD,TOT_GOVT_DEBT_LCU,LONG_EXT_DEBT_USD,PUBLIC_OWNED_DEBT_USD,...,TAX_REVENUE_PCT_GDP,UNEMPLOYMENT_RATE,POP_GROWTH_RATE,DEBT_TO_GDP,TRADE_BALANCE,TRADE_BAL_PCT_GDP,INFLATION_RATE_IN_PCT,REAL_GDP_GROWTH,ANNUAL_INFLATION_PCT,DEFAULT
214,214,Algeria,1960,2.723615e+09,0.000000,0.000000,0.000000e+00,0.0,0.000000e+00,0.000000e+00,...,0.0,0.000,0.000000,0.000000,-7.653484e+08,-28.100459,0.000000,0.000000,0.000000,0
480,480,Algeria,1961,2.434747e+09,-13.605441,0.000000,0.000000e+00,0.0,0.000000e+00,0.000000e+00,...,0.0,0.000,1.777125,0.000000,-5.176081e+08,-21.259214,0.000000,0.000000,0.000000,0
746,746,Algeria,1962,2.001445e+09,-19.685042,0.000000,0.000000e+00,0.0,0.000000e+00,0.000000e+00,...,0.0,0.000,1.537037,0.000000,-2.051028e+07,-1.024774,0.000000,0.000000,0.000000,0
1012,1012,Algeria,1963,2.702982e+09,34.313729,0.000000,0.000000e+00,0.0,0.000000e+00,0.000000e+00,...,0.0,0.000,1.610219,0.000000,-3.281645e+08,-12.140833,0.000000,0.000000,0.000000,0
1278,1278,Algeria,1964,2.909316e+09,5.839413,0.000000,0.000000e+00,0.0,0.000000e+00,0.000000e+00,...,0.0,0.000,1.736363,0.000000,-1.267212e+08,-4.355704,0.000000,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15908,15908,Algeria,2019,1.934597e+11,0.900000,151.361668,5.492379e+09,0.0,1.571128e+09,1.398178e+09,...,0.0,12.285,1.839445,0.028390,-1.100971e+10,-5.690959,1.951768,-1.051768,151.361668,0
16174,16174,Algeria,2020,1.648734e+11,-5.000000,155.017250,5.177878e+09,0.0,1.668630e+09,1.436410e+09,...,0.0,14.040,1.732457,0.031405,-1.536514e+10,-9.319354,2.415131,-7.415131,155.017250,0
16440,16440,Algeria,2021,1.862654e+11,3.800000,166.218895,7.378779e+09,0.0,1.476063e+09,1.240363e+09,...,0.0,13.607,1.657703,0.039614,9.203610e+08,0.494113,7.226063,-3.426063,166.218895,0
16706,16706,Algeria,2022,2.255603e+11,3.600000,181.619932,7.129257e+09,0.0,1.290522e+09,1.055682e+09,...,0.0,12.437,1.628339,0.031607,2.493006e+10,11.052505,9.265516,-5.665516,181.619932,0
16972,16972,Algeria,2023,2.398995e+11,4.100000,198.550858,0.000000e+00,0.0,0.000000e+00,0.000000e+00,...,0.0,11.814,1.554019,0.000000,9.929794e+09,4.139148,9.322174,-5.222174,198.550858,0

In [15]:
defaulted_countries[defaulted_countries['Country']=="Côte d'Ivoire"] = "Cote d'Ivoire"
defaulted_countries[defaulted_countries['Country']=="Egypt"] = "Egypt, Arab Rep."
defaulted_countries[defaulted_countries['Country']=="Iran"] = "Iran, Islamic Rep."
defaulted_countries[defaulted_countries['Country']=="North Korea"] = "Korea, Dem. People's Rep."
defaulted_countries[defaulted_countries['Country']=="The Philippines"] = "Philippines"
defaulted_countries[defaulted_countries['Country']=="Turkey"] = "Turkiye"
defaulted_countries[defaulted_countries['Country']=="Vietnam"] = "Viet Nam"
defaulted_countries[defaulted_countries['Country']=="Russia"] = "Russian Federation"
defaulted_countries[defaulted_countries['Country']=="Venezuela"] = "Venezuela, RB"

# These 3 countries got renamed since the last century.
defaulted_countries[defaulted_countries['Country']=="Rhodesia"] = "Zimbabwe"
defaulted_countries[defaulted_countries['Country']=="Zaire"] = "Congo, Dem. Rep."

# Excluding Yugoslavia as it was divided into multiple countries.
#defaulted_countries[defaulted_countries['Country']=="Rhodesia"] = "Zimbabwe"

<ipython-input-15-defb5755630e>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Cote d'Ivoire' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  defaulted_countries[defaulted_countries['Country']=="Côte d'Ivoire"] = "Cote d'Ivoire"

In [16]:
default.dtypes
pd.merge(data_df[(data_df['Country']=='Algeria') &  (data_df['Year']== 1991)], defaulted_countries[(defaulted_countries['Country']=='Algeria') &  (default['Year']== 1991)], on =['Country', 'Year'], how = 'left')

,Unnamed: 0,Country,Year,CURRENT_GDP_USD,GDP_GROWTH_PCT,ANUAL_INFLATION_PCT,TOT_EXT_DEBT_USD,TOT_GOVT_DEBT_LCU,LONG_EXT_DEBT_USD,PUBLIC_OWNED_DEBT_USD,...,TAX_REVENUE_PCT_GDP,UNEMPLOYMENT_RATE,POP_GROWTH_RATE,DEBT_TO_GDP,TRADE_BALANCE,TRADE_BAL_PCT_GDP,INFLATION_RATE_IN_PCT,REAL_GDP_GROWTH,ANNUAL_INFLATION_PCT,DEFAULT
0,8460,Algeria,1991,4.571568e+10,-1.200001,19.536766,2.848997e+10,0.0,2.625551e+10,2.625551e+10,...,0.0,20.6,2.384653,0.623199,2.522617e+09,5.518058,25.886387,-27.086388,19.536766,0

In [17]:
print(len(data_df[(data_df['DEFAULT']==1)]['Country'].unique()))
data_df[(data_df['DEFAULT']==1)]['Country'].unique()

45

array(['Mali', 'Pakistan', 'Turkiye', 'Sudan', 'Somalia', 'Ghana',
       'Guinea-Bissau', 'Bangladesh', 'Uganda', 'Sierra Leone',
       'Madagascar', 'Guyana', 'Comoros', 'Benin', 'Lao PDR', 'Argentina',
       'Egypt, Arab Rep.', 'Bolivia', 'Burundi', 'Peru', 'Nicaragua',
       'Viet Nam', 'Tanzania', "Cote d'Ivoire", 'Rwanda', 'Mozambique',
       'Albania', 'Zambia', 'Niger', 'Haiti', 'Congo, Rep.',
       'Congo, Dem. Rep.', 'Serbia', 'Mauritania', 'Burkina Faso',
       'Eritrea', 'Central African Republic', 'Lebanon', 'Chad',
       'Tajikistan', 'Panama', 'Montenegro', 'Gambia, The', 'Vanuatu',
       'Samoa'], dtype=object)

In [18]:
if 'DEFAULT' not in defaulted_countries.columns:
    defaulted_countries['DEFAULT'] = 1
if 'DEFAULT' not in data_df.columns:
    data_df['DEFAULT'] = 0
data_df = pd.merge(data_df, defaulted_countries[['Country', 'Year', 'DEFAULT']], on=['Country', 'Year'], how='left',suffixes=('_old', ''))
data_df.drop('DEFAULT_old', axis=1, inplace=True)

In [19]:
country_list = []
defaulted_countries['Year'] = pd.to_numeric(defaulted_countries['Year'], errors='coerce')

for country in defaulted_countries[defaulted_countries['Year'] >= 1960]['Country']:
    if country not in data_df['Country'].unique():
        country_list.append(country)
data_df.fillna(0, inplace=True)
pd.Series(country_list).unique()

array(['Yugoslavia'], dtype=object)

In [20]:
'''from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse_output=False)
one_hot_encoded = encoder.fit_transform(data_df[['Country']])
one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(['Country']))
data_df = pd.concat([data_df.drop('Country', axis=1), one_hot_df], axis=1)
'''

"from sklearn.preprocessing import OneHotEncoder\nencoder = OneHotEncoder(sparse_output=False)\none_hot_encoded = encoder.fit_transform(data_df[['Country']])\none_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(['Country']))\ndata_df = pd.concat([data_df.drop('Country', axis=1), one_hot_df], axis=1)\n"

In [21]:
import pandas as pd

target_encoding = data_df.groupby('Country')['DEFAULT'].mean()

data_df['Country_TargetEncoded'] = data_df['Country'].map(target_encoding)

data_df = data_df.drop('Country', axis=1)

In [22]:
data_df['Country_TargetEncoded'].unique()

array([0.03125 , 0.      , 0.046875, 0.015625, 0.171875, 0.15625 ,
       0.078125, 0.0625  , 0.28125 , 0.109375, 0.4375  , 0.09375 ,
       0.125   , 0.203125])

In [23]:
data_df.to_csv('World_Bank_Cleared.csv', index=False)

In [24]:
import lightgbm as lgb
from imblearn.over_sampling import ADASYN
from sklearn.model_selection import train_test_split, StratifiedKFold, cross_val_score
from sklearn.metrics import make_scorer, precision_score, recall_score, classification_report, confusion_matrix
import pandas as pd
import numpy as np
from sklearn.ensemble import VotingClassifier

# Prepare data
X = data_df.drop('DEFAULT', axis=1)
y = data_df['DEFAULT']

# Apply ADASYN to balance class distribution
adasyn = ADASYN(sampling_strategy=0.1, random_state=42)
X_resampled, y_resampled = adasyn.fit_resample(X, y)

# Convert 'Year' column to numeric before fitting the model
X_resampled['Year'] = pd.to_numeric(X_resampled['Year'], errors='coerce')
X = X.dropna()  # Remove any rows with missing values before splitting

# Replace special characters and spaces in column names
X_resampled.columns = X_resampled.columns.str.replace('[^a-zA-Z0-9_]', '', regex=True)

# Initialize LightGBM model for recall (Model 0)
model_recall = lgb.LGBMClassifier(
    boosting_type='gbdt',
    objective='binary',
    metric='recall',
    class_weight='balanced',
    num_leaves=30,
    learning_rate=0.01,
    min_split_gain=0.01,
    min_child_samples=30,
    n_estimators=50,
    lambda_l2=1,
    max_depth=6,
    random_state=42
)

# Initialize LightGBM model for precision (Model 1)
model_precision = lgb.LGBMClassifier(
    boosting_type='gbdt',
    objective='binary',
    metric='precision',
    class_weight='balanced',
    num_leaves=30,
    learning_rate=0.01,
    min_split_gain=0.01,
    min_child_samples=30,
    n_estimators=50,
    lambda_l2=1,
    max_depth=6,
    random_state=42
)

# Define custom scoring functions for precision and recall
def custom_recall(y_true, y_pred):
    return recall_score(y_true, y_pred)

def custom_precision(y_true, y_pred):
    return precision_score(y_true, y_pred)

# Stratified K-Folds cross-validation
kf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

# Store the predictions from both models for combining them later
recall_preds = []
precision_preds = []
voting_clf = VotingClassifier(
    estimators=[('recall', model_recall), ('precision', model_precision)],
    voting='hard'
)

# Train the voting classifier on the resampled data
voting_clf.fit(X_resampled, y_resampled)

# Make predictions using the voting classifier
y_pred_voting = voting_clf.predict(X_resampled)

# Evaluate the performance of the voting classifier
print(classification_report(y_resampled, y_pred_voting))
print(confusion_matrix(y_resampled, y_pred_voting))

/usr/local/lib/python3.10/dist-packages/dask/dataframe/__init__.py:42: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)

[LightGBM] [Warning] lambda_l2 is set=1, reg_lambda=0.0 will be ignored. Current value: lambda_l2=1
[LightGBM] [Warning] lambda_l2 is set=1, reg_lambda=0.0 will be ignored. Current value: lambda_l2=1
[LightGBM] [Info] Number of positive: 1711, number of negative: 16827
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.006508 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 5911
[LightGBM] [Info] Number of data points in the train set: 18538, number of used features: 24
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.500000 -> initscore=-0.000000
[LightGBM] [Info] Start training from score -0.000000
[LightGBM] [Warning] lambda_l2 is set=1, reg_lambda=0.0 will be ignored. Current value: lambda_l2=1
[LightGBM] [Warning] lambda_l2 is set=1, reg_lambda=0.0 will be ignored. Current value: lambda_l2=1
[LightGBM] [Info] Number of positive: 1711, number of negative: 16827
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.015946 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 5911
[LightGBM] [Info] Number of data points in the train set: 18538, number of used features: 24
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.500000 -> initscore=-0.000000
[LightGBM] [Info] Start training from score -0.000000
[LightGBM] [Warning] lambda_l2 is set=1, reg_lambda=0.0 will be ignored. Current value: lambda_l2=1
[LightGBM] [Warning] lambda_l2 is set=1, reg_lambda=0.0 will be ignored. Current value: lambda_l2=1
              precision    recall  f1-score   support

         0.0       1.00      0.95      0.97     16827
         1.0       0.66      0.99      0.79      1711

    accuracy                           0.95     18538
   macro avg       0.83      0.97      0.88     18538
weighted avg       0.97      0.95      0.96     18538

[[15940   887]
 [   15  1696]]