<a href="https://colab.research.google.com/github/PranavShashidhara/World-Bank-Project/blob/main/World_Bank_Debt_GDP_data_Pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%pip install wbgapi

Requirement already satisfied: wbgapi in c:\users\prana\anaconda3\lib\site-packages (1.0.12)
Requirement already satisfied: requests in c:\users\prana\anaconda3\lib\site-packages (from wbgapi) (2.32.2)
Requirement already satisfied: PyYAML in c:\users\prana\anaconda3\lib\site-packages (from wbgapi) (6.0.1)
Requirement already satisfied: tabulate in c:\users\prana\anaconda3\lib\site-packages (from wbgapi) (0.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\prana\anaconda3\lib\site-packages (from requests->wbgapi) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\prana\anaconda3\lib\site-packages (from requests->wbgapi) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\prana\anaconda3\lib\site-packages (from requests->wbgapi) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\prana\anaconda3\lib\site-packages (from requests->wbgapi) (2024.7.4)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
import numpy as np
import wbgapi as wb

In [ ]:
wb.series.info(q='EXCHANGE')

id              value
--------------  ------------------------------------------------------------------------
PA.NUS.FCRF     Official exchange rate (LCU per US$, period average)
PA.NUS.PPPC.RF  Price level ratio of PPP conversion factor (GDP) to market exchange rate
PX.REX.REER     Real effective exchange rate index (2010 = 100)
                3 elements

In [ ]:
indicators = [
    'DT.DOD.DECT.CD',
    'GC.DOD.TOTL.CN',
    'DT.DOD.DLXF.CD',
    'DT.DOD.DPPG.CD',
    'DT.DOD.DPNG.CD',
    'DT.DOD.DSTC.CD',
    'DT.DOD.PVLX.CD',
    'DT.TDS.DECT.GD.ZS'
]

data = wb.data.DataFrame(indicators, labels=True)

In [ ]:
GDP_indicators = {
    'NY.GDP.MKTP.CD': 'GDP (current US$)',
    'NY.GDP.MKTP.KD.ZG': 'GDP Growth Rate (%)',
    'FP.CPI.TOTL': 'Inflation, consumer prices (annual %)'#,
    #'DT.DOD.DECT.CD': 'External Debt Stocks, Total (current US$)'
}
gdp_data = wb.data.DataFrame(GDP_indicators, labels = True)

In [ ]:


Rev_trade_Exchange_indicators = {
    'FR.INR.RSET': 'Foreign Exchange Reserves',
    'NE.EXP.GNFS.CD': 'Exports of Goods and Services',
    'NE.IMP.GNFS.CD': 'Imports of Goods and Services',
    'GC.TAX.TOTL.GD.ZS': 'Tax Revenue (% of GDP)',
    'GC.EXP.TOTL.GD.ZS': 'Government Expenditure (% of GDP)',
    'IR.LONG.TOTL.ZS': 'Intereset rates',
    'SL.UEM.TOTL.ZS': 'Unemployment rate',
    'SP.POP.GROW': 'Population growth rate'
}
rev_trade_exch_data = wb.data.DataFrame(Rev_trade_Exchange_indicators, labels = True)
rev_trade_exch_data.head()

,,Country,Series,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,...,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022,YR2023
economy,series,,,,,,,,,,,,,,,,,,,,,
ZWE,NE.EXP.GNFS.CD,Zimbabwe,Exports of goods and services (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.080441e+09,3.824969e+09,4.098132e+09,3.456997e+09,8.936585e+09,6.015688e+09,4.795171e+09,6.461618e+09,7.650408e+09,NaN
ZMB,NE.EXP.GNFS.CD,Zambia,Exports of goods and services (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.053677e+10,7.892389e+09,7.403491e+09,9.053912e+09,9.987165e+09,8.073235e+09,8.473998e+09,1.153788e+10,1.172209e+10,1.148338e+10
YEM,NE.EXP.GNFS.CD,"Yemen, Rep.",Exports of goods and services (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.287267e+09,3.841896e+09,1.506135e+09,2.600534e+09,1.891748e+09,NaN,NaN,NaN,NaN,NaN
PSE,NE.EXP.GNFS.CD,West Bank and Gaza,Exports of goods and services (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.213600e+09,2.244300e+09,2.207100e+09,2.536000e+09,2.598000e+09,2.659300e+09,2.385300e+09,3.140300e+09,3.533400e+09,3.413300e+09
VIR,NE.EXP.GNFS.CD,Virgin Islands (U.S.),Exports of goods and services (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.794000e+09,1.525000e+09,1.786000e+09,2.403000e+09,2.084000e+09,2.265000e+09,1.620000e+09,4.075000e+09,NaN,NaN

In [ ]:
ind_values = data.index.get_level_values('series').unique().tolist()
data_conds = data['Series'].unique().tolist()
data_conds

['External debt stocks, total (DOD, current US$)',
 'Central government debt, total (current LCU)',
 'External debt stocks, long-term (DOD, current US$)',
 'External debt stocks, public and publicly guaranteed (PPG) (DOD, current US$)',
 'External debt stocks, private nonguaranteed (PNG) (DOD, current US$)',
 'External debt stocks, short-term (DOD, current US$)',
 'Present value of external debt (current US$)']

In [ ]:
debt_df = {}
debt_zipped_data = {}
cols = data.columns[2:-1].tolist()

for series_value in data.index.get_level_values('series').unique():
    filtered_data = data.loc[(slice(None), series_value), :]  # Filtering rows based on series.
    debt_zipped_data[series_value] = filtered_data['Series'].iloc[0]  # Accessing the Series value

for i in debt_zipped_data:
  filtered_df = data[data['Series'] == debt_zipped_data[i]]
  debt_df[i] = pd.melt(filtered_df, id_vars=['Country'], value_vars=cols, var_name = 'Year')

In [ ]:
gdp_df = {}
gdp_zipped_data = {}
cols = gdp_data.columns[2:-1].tolist()

for series_value in gdp_data.index.get_level_values('series').unique():
  filtered_data = gdp_data.loc[(slice(None), series_value),:]
  gdp_zipped_data[series_value] = filtered_data['Series'].iloc[0]

for i in gdp_zipped_data:
  filtered_df = gdp_data[gdp_data['Series']==gdp_zipped_data[i]]
  gdp_df[i]= pd.melt(filtered_df, id_vars=['Country'], value_vars=cols, var_name = 'Year')

In [ ]:
rev_trade_exch_df = {}
rev_exch_zipped_data = {}
cols = rev_trade_exch_data.columns[2:-1].tolist()

for series_value in rev_trade_exch_data.index.get_level_values('series').unique():
  filtered_data = rev_trade_exch_data.loc[(slice(None), series_value),:]
  rev_exch_zipped_data[series_value] = filtered_data['Series'].iloc[0]

for i in rev_exch_zipped_data:
  filtered_df = rev_trade_exch_data[rev_trade_exch_data['Series']==rev_exch_zipped_data[i]]
  rev_trade_exch_df[i]= pd.melt(filtered_df, id_vars=['Country'], value_vars=cols, var_name = 'Year')

In [ ]:
rev_trade_exch_data.index.get_level_values('series').unique()

Index(['NE.EXP.GNFS.CD', 'NE.IMP.GNFS.CD', 'GC.TAX.TOTL.GD.ZS',
       'SL.UEM.TOTL.ZS', 'SP.POP.GROW'],
      dtype='object', name='series')

In [ ]:
rev_exch_col_names = {
    #'FR.INR.RSET': 'FORIEGN_EXCH_RESERVES',
    'NE.EXP.GNFS.CD': 'EXPORTS',
    'NE.IMP.GNFS.CD': 'IMPORTS',
    'GC.TAX.TOTL.GD.ZS': 'TAX_REVENUE_PCT_GDP',
    #'GC.EXP.TOTL.GD.ZS': 'GOVT_EXP_PCT_GDP',
    #'IR.LONG.TOTL.ZS': 'INTEREST_RATES',
    'SL.UEM.TOTL.ZS': 'UNEMPLOYMENT_RATE',
    'SP.POP.GROW': 'POP_GROWTH_RATE'

}

rev_exch_list = [i for i in rev_trade_exch_df.keys()]

if len(rev_exch_list) != 0:
  merged_rev_exch_df  = rev_trade_exch_df[rev_exch_list[0]]

  for i in rev_exch_list[1:]:

      next_df = rev_trade_exch_df[i]
      merged_rev_exch_df = pd.merge(merged_rev_exch_df, next_df, on=['Country', 'Year'])
      prev_col_name = rev_exch_col_names[rev_exch_list[rev_exch_list.index(i) - 1]]


      merged_rev_exch_df = merged_rev_exch_df.rename(columns = {
          'value_x': prev_col_name,
          'value_y': rev_exch_col_names[i]
      })

merged_rev_exch_df = merged_rev_exch_df.rename(columns = {'value': 'POP_GROWTH_RATE'})
merged_rev_exch_df

,Country,Year,EXPORTS,IMPORTS,TAX_REVENUE_PCT_GDP,UNEMPLOYMENT_RATE,POP_GROWTH_RATE
0,Zimbabwe,YR1960,NaN,NaN,NaN,NaN,NaN
1,Zambia,YR1960,NaN,NaN,NaN,NaN,NaN
2,"Yemen, Rep.",YR1960,NaN,NaN,NaN,NaN,NaN
3,West Bank and Gaza,YR1960,NaN,NaN,NaN,NaN,NaN
4,Virgin Islands (U.S.),YR1960,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
16753,Central Europe and the Baltics,YR2022,1.345074e+12,1.370354e+12,17.850762,4.006652,-1.286712
16754,Caribbean small states,YR2022,NaN,NaN,NaN,10.707863,0.592549
16755,Arab World,YR2022,NaN,NaN,NaN,9.869656,1.788339
16756,Africa Western and Central,YR2022,NaN,NaN,NaN,3.737766,2.539799
16757,Africa Eastern and Southern,YR2022,3.267185e+11,3.549661e+11,NaN,7.448222,2.543757

In [ ]:
gdp_col_names = {
    'NY.GDP.MKTP.CD': 'CURRENT_GDP_USD',
    'NY.GDP.MKTP.KD.ZG': 'GDP_GROWTH_PCT',
    'FP.CPI.TOTL': 'ANUAL_INFLATION_PCT',
}

gdp_list = [i for i in gdp_df.keys()]

if len(gdp_list) != 0:
  merged_gdp_df  = gdp_df[gdp_list[0]]

  for i in gdp_list[1:]:

      next_df = gdp_df[i]
      merged_gdp_df = pd.merge(merged_gdp_df, next_df, on=['Country', 'Year'])
      prev_col_name = gdp_col_names[gdp_list[gdp_list.index(i) - 1]]

      merged_gdp_df = merged_gdp_df.rename(columns = {
          'value_x': prev_col_name,
          'value_y': gdp_col_names[i]
      })
merged_gdp_df = merged_gdp_df.rename(columns = {'value': 'ANUAL_INFLATION_PCT'})
merged_gdp_df

,Country,Year,CURRENT_GDP_USD,GDP_GROWTH_PCT,ANUAL_INFLATION_PCT
0,Zimbabwe,YR1960,1.052990e+09,NaN,NaN
1,Zambia,YR1960,7.130000e+08,NaN,NaN
2,"Yemen, Rep.",YR1960,NaN,NaN,NaN
3,West Bank and Gaza,YR1960,NaN,NaN,NaN
4,Virgin Islands (U.S.),YR1960,NaN,NaN,NaN
...,...,...,...,...,...
16753,Central Europe and the Baltics,YR2022,1.943576e+12,4.247073,NaN
16754,Caribbean small states,YR2022,4.813805e+10,22.478217,NaN
16755,Arab World,YR2022,3.613682e+12,5.793109,NaN
16756,Africa Western and Central,YR2022,8.771408e+11,3.784486,NaN
16757,Africa Eastern and Southern,YR2022,1.183962e+12,3.554422,NaN

In [ ]:
debt_df.keys()

dict_keys(['DT.DOD.DECT.CD', 'GC.DOD.TOTL.CN', 'DT.DOD.DLXF.CD', 'DT.DOD.DPPG.CD', 'DT.DOD.DPNG.CD', 'DT.DOD.DSTC.CD', 'DT.DOD.PVLX.CD'])

In [ ]:
debt_col_names = {
    'DT.DOD.DECT.CD': 'TOT_EXT_DEBT_USD',
    'GC.DOD.TOTL.CN': 'TOT_GOVT_DEBT_LCU',
    'DT.DOD.DLXF.CD': 'LONG_EXT_DEBT_USD',
    'DT.DOD.DPPG.CD': 'PUBLIC_OWNED_DEBT_USD',
    'DT.DOD.DPNG.CD': 'PRIVATE_OWNED_DEBT_USD',
    'DT.DOD.DSTC.CD': 'SHORT_TERM_EXT_DEBT' ,
    'DT.DOD.PVLX.CD': 'CUR_VAL_EXT_DEBT'
}
debt_list = [i for i in debt_df.keys()]

if len(debt_list) != 0:
    merged_debt_df = debt_df[debt_list[0]]

    for i in debt_list[1:]:

        next_df = debt_df[i]
        merged_debt_df = pd.merge(merged_debt_df, next_df, on=['Country', 'Year'])
        prev_col_name = debt_col_names[debt_list[debt_list.index(i) - 1]]

        merged_debt_df = merged_debt_df.rename(columns = {
          'value_x': prev_col_name,
          'value_y': debt_col_names[i]
        }) # Since the dataframe is joining with itself value x and value y are named and rearranged as required.
merged_debt_df = merged_debt_df.rename(columns = {'value': 'CUR_VAL_EXT_DEBT'})  # Setting the value of 'value' to the required value as it does not get affected by value_x and value_y

merged_debt_df = merged_debt_df.rename(columns = debt_col_names)
merged_debt_df.head()

,Country,Year,TOT_EXT_DEBT_USD,TOT_GOVT_DEBT_LCU,LONG_EXT_DEBT_USD,PUBLIC_OWNED_DEBT_USD,PRIVATE_OWNED_DEBT_USD,SHORT_TERM_EXT_DEBT,CUR_VAL_EXT_DEBT
0,Zimbabwe,YR1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Zambia,YR1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Yemen, Rep.",YR1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,West Bank and Gaza,YR1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Virgin Islands (U.S.),YR1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#joining both the gdp_df, rev_exch_df and debt_df together
#Preprocessing the data before pushing to storage.
gdp_debt_df = pd.merge(merged_gdp_df, merged_debt_df, on=['Country', 'Year'])
rev_debt_gdp_df = pd.merge(gdp_debt_df, merged_rev_exch_df, on=['Country', 'Year'])

rev_debt_gdp_df['Year'] = rev_debt_gdp_df['Year'].str.slice(2, 6)
rev_debt_gdp_df['DEBT_TO_GDP'] = rev_debt_gdp_df['TOT_EXT_DEBT_USD']/ rev_debt_gdp_df['CURRENT_GDP_USD']
rev_debt_gdp_df['TRADE_BALANCE'] = rev_debt_gdp_df['EXPORTS'] - rev_debt_gdp_df['IMPORTS']
rev_debt_gdp_df['TRADE_BAL_PCT_GDP'] = (rev_debt_gdp_df['EXPORTS'] - rev_debt_gdp_df['IMPORTS'])/rev_debt_gdp_df['GDP_GROWTH_PCT']
rev_debt_gdp_df['REAL_GDP_GROWTH'] = rev_debt_gdp_df['GDP_GROWTH_PCT'] - rev_debt_gdp_df['ANUAL_INFLATION_PCT']
rev_debt_gdp_df

,Country,Year,CURRENT_GDP_USD,GDP_GROWTH_PCT,ANUAL_INFLATION_PCT,TOT_EXT_DEBT_USD,TOT_GOVT_DEBT_LCU,LONG_EXT_DEBT_USD,PUBLIC_OWNED_DEBT_USD,PRIVATE_OWNED_DEBT_USD,...,CUR_VAL_EXT_DEBT,EXPORTS,IMPORTS,TAX_REVENUE_PCT_GDP,UNEMPLOYMENT_RATE,POP_GROWTH_RATE,DEBT_TO_GDP,TRADE_BALANCE,TRADE_BAL_PCT_GDP,REAL_GDP_GROWTH
0,Zimbabwe,1960,1.052990e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Zambia,1960,7.130000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Yemen, Rep.",1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,West Bank and Gaza,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Virgin Islands (U.S.),1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16753,Central Europe and the Baltics,2022,1.943576e+12,4.247073,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.345074e+12,1.370354e+12,17.850762,4.006652,-1.286712,NaN,-2.528064e+10,-5.952485e+09,NaN
16754,Caribbean small states,2022,4.813805e+10,22.478217,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.707863,0.592549,NaN,NaN,NaN,NaN
16755,Arab World,2022,3.613682e+12,5.793109,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.869656,1.788339,NaN,NaN,NaN,NaN
16756,Africa Western and Central,2022,8.771408e+11,3.784486,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.737766,2.539799,NaN,NaN,NaN,NaN
16757,Africa Eastern and Southern,2022,1.183962e+12,3.554422,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.267185e+11,3.549661e+11,NaN,7.448222,2.543757,NaN,-2.824752e+10,-7.947147e+09,NaN

In [ ]:
rev_debt_gdp_df.to_parquet('WORLD_BANK_GDP_DEBT_DATA.parquet')
#pd.read_parquet('WORLD_BANK_GDP_DEBT_DATA.parquet')

In [ ]:
rev_debt_gdp_df.columns

Index(['Country', 'Year', 'CURRENT_GDP_USD', 'GDP_GROWTH_PCT',
       'ANUAL_INFLATION_PCT', 'TOT_EXT_DEBT_USD', 'TOT_GOVT_DEBT_LCU',
       'LONG_EXT_DEBT_USD', 'PUBLIC_OWNED_DEBT_USD', 'PRIVATE_OWNED_DEBT_USD',
       'SHORT_TERM_EXT_DEBT', 'CUR_VAL_EXT_DEBT', 'EXPORTS', 'IMPORTS',
       'TAX_REVENUE_PCT_GDP', 'UNEMPLOYMENT_RATE', 'POP_GROWTH_RATE',
       'DEBT_TO_GDP', 'TRADE_BALANCE', 'TRADE_BAL_PCT_GDP', 'REAL_GDP_GROWTH'],
      dtype='object')